/*---------Whole page---------*/
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #acbece;
}

.ui-container input {
    display: none;
}

/*---------Header---------*/
.header {
    width: 100%;
    height: 10%;
    background: #002a32;
    color: #ff5e57;
    font-size: 56px;
}

#logo {
    width:75px;
    height:56px;
    position: relative;
    top: 5px;
}

#buttonContainer {
    float: right;
    position: relative;
    right: 10px;
    bottom: 10px;
}

/*#notifications!**!*/

#buttonContainer button {
    display: inline;
}

.loggedOut {
    display:none;
}

.loggedIn {
    display:none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

}

.modal-content-wrapper {
    max-height: 700px;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input, textarea {
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 80%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.modal-content input:focus, textarea:focus{
    border: 1px solid #777;
}

button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.modal-content button {
    width: 80%;
    margin: 0 auto;
}

button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

.modal-content a {
    color: #5d8ffc;
    font-size: 14px;
    font-weight: 500;
    font-family: helvetica;
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 50%;
    cursor: pointer;
}

.modal-content a:hover {
    color: #2d65de;
}

.modal-content a:active{
    color: black;
}

.loading {
    display: block;
    width: 128px;
    height: 128px;
    margin: 200px auto;
}
/*---------Intro Header---------*/
.intro {
    width: 100%;
    background: #212121;
    height: 15%;
    padding: 15px;
}

.intro h1 {
    color: lightgray;
    margin: 10px auto;
    text-align:center;
}

.intro p {
    color: lightgray;
    margin: 0 auto;
    text-align: center;
}

/*---------Main---------*/
.main {
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
}

/*---------Footer---------*/
.footer {
    width: 100%;
    background: #002a32;
    color: white;
    position: absolute;
    bottom: 0;
    height: 30px;
}

.footer-content {
    margin: 5px auto;
    width: 80%;
    text-align: center;
}

/*---------Nav Col---------*/
#navCol {
    flex: 1;
    border-style: none solid none none;
    border-width: 1px;
    border-color: rgb(95, 95, 95);
    max-width: 330px;
    height: 100%;
    overflow-y: scroll;
}

#navCol .content-container {
    padding: 24px;
}

#navCol .search, .navTool {
    width: 95%;
    border-style: solid;
    outline: none;
    border-color: rgb(209, 213, 218);
    border-width: 1px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    font-size: 14px;
    font-stretch: 100%;
    line-height: 20px;
    margin-bottom: 16px;
    padding: 6px 8px;
    border-radius: 10px;
}

#navCol .search {
    cursor: text;
}

#navCol .search:focus {
    border-color: rgb(33, 136, 255);
}

.nav-title {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 4px;
}

.nav-title button {
    padding: 3px 10px 3px 10px;
    float: right;
    position: relative;
    left: 5px;
}

.toolTitle {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

.toolContent {
    padding: 15px 5px;
    margin-left: 20px;
}

.toolItem {
    cursor: pointer;
    font-size: 14px;
}

.toolItem:hover {
    color: #1860fb;
}

.userInfo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.userInfo img {
    max-height: 24px;
    max-width: 24px;
}

.userInfo img, .userInfo div {
    flex: 1;
}

.active {
    color: #1860fb;
}

/*---------Content Pane---------*/
#content-pane {
    flex: 1;
    background: #b9cdda;
    height: 100%;
    width: 50%;
    padding: 30px;
    overflow-y: scroll;
}

#content-pane h1 {
    margin-top: 0;
}

.modal-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.contained-inp {
    flex: 1;
}

.cont-label {
    margin-top: 0;
    margin-bottom: 0;
}

.tall-input {
    height: 200px;
    width: 80%;
}

/*---------------search-------------*/

.search-result, .rounded-container{
    background-color: #fff;
    width: 90%;
    border-radius: 25px;
    outline: none;
    border-style: solid;
    border-color: rgb(209, 213, 218);
    border-width: 1px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    height:12%;
    padding: 20px;
}

.search-result:hover{
    border: 1px solid rgb(33, 136, 255);
}

.search-title {
    font-size: 20px;
    font-weight: 700;
}

.search-items{
    display: flex;
    padding: 5px;
}

.search-item {
    flex: 1;
    padding: 5px;
    min-width: 30%;
}

/*---------------Flex-------------*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background: #acbece;
    height: 100%;
}

.flex-container > div {
    background-color: #acbece;
    height: 100%;
    padding: 20px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    flex:1;
}

.flex-container > div:nth-child(2){
    border-style: none solid;
    border-width: 2px;
}

.flex-center {
   text-align: center;
}


.rounded-container {
    border: 1px solid #777;
    height: auto;
    margin-bottom: 10px;
}

.internal-row {
    display: flex;
}

.internal-label {
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #aaa;
    width: 15%;
}

.internal-value {
    flex: 1;
    padding: 5px;
}

.container-header {
    margin-bottom: 2px;
}

.gameName {
    text-align:center;
}
